__pycache__/
.env
.venv/
target/
.python-version
*.egg-info/

# Ignore example repos, but specifically includes the README, cloning file, and the analysis notebook 
examples/*

!examples/crates_io_analysis
examples/crates_io_analysis/*
!examples/crates_io_analysis/scratch.ipynb
!examples/clone.sh
!examples/README.md
